<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Test page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

    </head>
    <body
        _="
           on fetch:beforeRequest(headers)
             set headers['Authorization'] to `Bearer ${window.netlifyIdentity.currentUser().token.access_token}`

    -- Re-implementing this in JavaScript instead because of a timing issue where this event
    -- handler does not appear to be registered by the time htmx 'load' things happen
    -- A possible solution is to trade all hx-trigger='load' for a custom event e.g.
    -- hx-trigger='authReady' and broadcast that event here, in an init block.
    -- Maybe would need a `wait a tick` too, because init might run before these are registered
    --     on htmx:configRequest(detail)
    --       set detail.headers['Authorization'] to `Bearer ${window.netlifyIdentity.currentUser().token.access_token}`
           ">
        <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->

        <h1>Test page</h1>

        <p>This is a test page. The goal of this project is to establish a path to Netlify Identity Authentication in Netlify Edge Functions.</p>

        <p>First, this page confirms that a "hello world" Netlify Function works by fetching it into the <code>div</code> below:</p>

        <div
            hx-get="/.netlify/functions/hello"
            hx-trigger="load"
        >
            Loading...
        </div>

        <p>Next, the Netlify Identity widget. You should be able to sign up or log in below:</p>

        <div data-netlify-identity-menu></div>

        <p>Next, I will check whether I can accurately confirm the logged-in status via a request to a Netlify Edge Function. The following <code>div</code> should say "yes" if the above Netlify Identity Widget shows "signed in." It should say "no" otherwise.</p>

        <p>Note: This won't, at the moment, update automatically after signing in or signing out, so you'll need to reload the page.</p>

        <div _="on load fetch /.netlify/functions/authCheck then put the result into me">
            Loading...
        </div>

        <p>Now, the same thing but using htmx instead of hyperscript:</p>

        <div
            hx-get="/.netlify/functions/authCheck"
            hx-trigger="load"
            >
            Loading...
        </div>

        <p>Finally, we test persistence. Right now this form should just echo whatever you send</p>

        <form hx-post="/.netlify/functions/setName" hx-target="#output-set-name" hx-ext='json-enc'>
            <label>
                Name:
                <input type="text" name="name" value="" placeholder="Waymond" />
            </label>

            <input type="submit" name="submit" value="Submit" />
        </form>

        <div id="output-set-name">
            Send form above to see the value reflected here
        </div>

        <div>
            <button
                hx-post="/.netlify/functions/getName"
                hx-target="#output-get-name"
            >Get name</button>
        </div>

        <div id="output-get-name">
            Click button above to get your name
        </div>

        <script type="text/javascript">
            document.body.addEventListener(
                'htmx:configRequest',
                function(event) {
                    event.detail.headers['Authorization'] =
                        `Bearer ${window.netlifyIdentity.currentUser().token.access_token}`;
                });
        </script>

        <script src="https://demo.htmx.org"></script>
        <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <script type="text/javascript">
            // Literally including the json-enc htmx extension source because it's simple
            document.body.addEventListener(
                "htmx:load",
                function () {
                    htmx.defineExtension('json-enc', {
                        onEvent: function (name, evt) {
                            if (name === "htmx:configRequest") {
                                evt.detail.headers['Content-Type'] = "application/json";
                            }
                        },

                        encodeParameters : function(xhr, parameters, elt) {
                            xhr.overrideMimeType('text/json');
                            return (JSON.stringify(parameters));
                        }
                    });
                });
        </script>
    </body>
</html>
